<div class="div-logo">

  <div>
    <img src="./assets/images/logo.jpg.png" alt="logo">
  </div>
  <div>
    <p>Shopéame!</p>
  </div>

</div>
<nav class="nav">
  <div class="nav__item">
    <a routerLink=""><img src="./assets/images/Home.png" alt=""></a>
    <a routerLink="">Home</a>

  </div>
  <div class="nav__item">
    <a routerLink="/products"><img src="./assets/images/Prods.png" alt=""></a>
    <a routerLink="/products">Productos</a>

  </div>
  <div class="nav__item">
    <a routerLink="/gestion"><img src="./assets/images/Gestion.png" alt=""></a>
    <a routerLink="/gestion">Gestión</a>

  </div>



</nav>

