
/*
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&family=Red+Hat+Display:wght@300;400&family=Roboto:wght@100;400;500&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
}

